# 五行缺钱组半决赛作品

## 导包

In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from pandas import Series,DataFrame

## 扒网页

In [34]:
import requests
website_url = requests.get("https://newzoo.com/insights/rankings/top-25-companies-game-revenues/").text
from bs4 import BeautifulSoup as bs
soup = bs(website_url, 'lxml')
my_table = soup.find('table', {'class': 'rankingtable first'})
Ranklst = []
Companylst = []
q1lst = []
q2lst = []
q3lst = []
q4lst = []
totallst = []
for tr in my_table.find_all('tr')[1:]:
    tds = tr.find_all('td')
    Ranklst.append(tds[1].text)
    Companylst.append(tds[2].text)
    q1lst.append(tds[3].text)
    q2lst.append(tds[4].text)
    q3lst.append(tds[5].text)
    q4lst.append(tds[6].text)
    totallst.append(tds[7].text)
list_of_tuples = list(zip(Ranklst, Companylst, q1lst, q2lst, q3lst, q4lst, totallst))
df = pd.DataFrame(list_of_tuples, columns = ['Rank', 'Company', 'Q1', 'Q2', 'Q3', 'Q4', 'Total'])
df

,Rank,Company,Q1,Q2,Q3,Q4,Total
0,1,Tencent,"$5,502M","$4,687M","$4,903M","$4,641M","$19,733M"
1,2,Sony*,"$3,079M","$3,117M","$3,612M","$4,410M","$14,218M"
2,3,Microsoft*,"$2,019M","$2,033M","$2,311M","$3,391M","$9,754M"
3,4,Apple*,"$2,091M","$2,303M","$2,524M","$2,535M","$9,453M"
4,5,Activision Blizzard,"$1,872M","$1,537M","$1,352M","$2,131M","$6,892M"
5,6,Google*,"$1,383M","$1,463M","$1,522M","$2,129M","$6,497M"
6,7,NetEase,"$1,346M","$1,546M","$1,590M","$1,694M","$6,177M"
7,8,EA,"$1,582M","$1,137M","$1,286M","$1,289M","$5,294M"
8,9,Nintendo,$697M,$730M,$751M,"$2,111M","$4,288M"
9,10,Bandai Namco,$807M,$567M,$693M,$674M,"$2,741M"
10,11,TakeTwo Interactive,$450M,$388M,$493M,"$1,249M","$2,580M"
11,12,Nexon,$803M,$424M,$615M,$409M,"$2,252M"
12,13,Ubisoft,$666M,$449M,$416M,$691M,"$2,221M"
13,14,Netmarble,$475M,$469M,$493M,$456M,"$1,893M"
14,15,Warner Bros*,$404M,$432M,$435M,$564M,"$1,835M"
15,16,Square Enix,$425M,$288M,$447M,$423M,"$1,583M"
16,17,NCSoft,$366M,$322M,$330M,$324M,"$1,343M"
17,18,Cyber Agent,$359M,$315M,$327M,$323M,"$1,324M"
18,19,Mixi,$410M,$261M,$282M,$268M,"$1,222M"
19,20,Konami,$272M,$267M,$326M,$346M,"$1,210M"
20,21,Aristocrat Leisure,$167M,$326M,$326M,$326M,"$1,146M"
21,22,37 Interactive*,$232M,$240M,$319M,$300M,"$1,091M"
22,23,Perfect World*,$197M,$208M,$206M,$285M,$897M
23,24,Sega,$184M,$189M,$219M,$240M,$832M
24,25,Capcom,$384M,$122M,$181M,$121M,$809M

In [36]:
# df.to_excel(r'/Users/Ragieon/Desktop/Deloitte/Deloitte/Top 25 Public Companies by Game Revenues.xlsx')